body .wrapper > section {
    width: max-content;
}
body .wrapper > section > a {
    color: #a1a1a1;
    display: block;
    font: 18px/22px proxima_nova_bold, sans-serif;
    margin-bottom: 24px;
}
body .wrapper > section > a::before {
    background-image: url(../../images/left.svg);
    content: "";
    display: inline-block;
    height: 12px;
    margin: 4px 12px 0px 0px;
    vertical-align: top;
    width: 7.41px;
}
body .wrapper > section > section {
    border-top: 1px solid #d8d8d8;
    padding-top: 44px;
    position: relative;
    margin-bottom: 60px;
}
body .wrapper > section > section::before {
    background-image: url("../../images/carret.svg");
    content: "";
    display: inline-block;
    height: 14px;
    left: 546px;
    position: absolute;
    top: -14px;
    vertical-align: top;
    width: 30px;
}
body .wrapper > section > section .cart_items_form {
    display: inline-block;
    height: 500px;
    vertical-align: top;
    width: 700px;
}
body .wrapper > section > section .cart_items_form > ul {
    width: 100%;
}
body .wrapper > section > section .cart_items_form > ul > li {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 4.37332px 21.8666px rgba(0, 0, 0, 0.07);
    display: inline-block;
    height: 119px;
    margin-bottom: 10px;
    padding-left: 156px;
    position: relative;
    vertical-align: top;
    width: 100%;
    transition: 0.21s;
}
body .wrapper > section > section .cart_items_form > ul > li.confirm_delete {
    z-index: 101;
}
body .wrapper > section > section .cart_items_form > ul > li.confirm_delete > div {
    z-index: 102;
    right: -330px;
    opacity: 1;
}
body .wrapper > section > section .cart_items_form > ul > li:hover {
    box-shadow: 0px 0px 14.87px rgba(146, 152, 100, 0.45);
}
body .wrapper > section > section .cart_items_form > ul > li img {
    border-radius: 20px;
    height: 119px;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 126px;
}
body .wrapper > section > section .cart_items_form > ul > li h3 {
    color: #7d7d7d;
    font: 16px/20px roboto_medium, sans-serif;
    margin-top: 30px;
}
body .wrapper > section > section .cart_items_form > ul > li > span {
    background-color: #f1f1f1;
    border-radius: 33px;
    color: #7d8257;
    display: inline-block;
    font: 15px/17px roboto_semi_bold, sans-serif;
    height: 32px;
    padding: 7px 14px;
    vertical-align: top;
}
body .wrapper > section > section .cart_items_form > ul > li > ul {
    position: absolute;
    right: 0px;
    top: 0px;
}
body .wrapper > section > section .cart_items_form > ul > li > ul > li {
    display: inline-block;
    margin-right: 30px;
    padding: 18px 0px;
    vertical-align: top;
}
body .wrapper > section > section .cart_items_form > ul > li > ul > li label {
    color: #7d7d7d;
    display: block;
    font: 11px/13px roboto_regular, sans-serif;
}
body .wrapper > section > section .cart_items_form > ul > li > ul > li input {
    border-radius: 10px;
    border: 1px solid #d4e1ec;
    color: #a1a1a1;
    display: inline-block;
    font: 16px/16px proxima_nova_regular, sans-serif;
    height: 58px;
    text-align: center;
    vertical-align: top;
    width: 110px;
}
body .wrapper > section > section .cart_items_form > ul > li > ul > li .remove_item {
    background-color: transparent;
    background-image: url("../../images/remove.svg");
    background-repeat: no-repeat;
    border: none;
    border-left: 1px solid #f1f1f1;
    height: 119px;
    width: 60px;
}
body .wrapper > section > section .cart_items_form > ul > li > ul > li .remove_item:hover {
    background-position: -59px 0px;
}
body .wrapper > section > section .cart_items_form > ul > li > ul > li > ul {
    display: inline-block;
}
body .wrapper > section > section .cart_items_form > ul > li > ul > li > ul li button {
    background-color: #f6f6f6;
    background-image: url("../../images/left.svg");
    background-position: 50% 47%;
    background-repeat: no-repeat;
    border-radius: 5px;
    border: none;
    height: 26px;
    rotate: 90deg;
    width: 26px;
}
body .wrapper > section > section .cart_items_form > ul > li > ul > li > ul li:last-child button {
    rotate: 270deg;
}
body .wrapper > section > section .cart_items_form > ul > li > ul > li .total_amount {
    background-color: #f6f6f6;
    border-radius: 10px;
    color: #929864;
    display: inline-block;
    font: 16px/22px roboto_bold, sans-serif;
    height: 58px;
    padding: 17px 0px;
    text-align: center;
    vertical-align: top;
    width: 110px;
}
body .wrapper > section > section .cart_items_form > ul > li > ul > li:last-child {
    margin-right: 0px;
    padding: 0px;
}
body .wrapper > section > section .cart_items_form > ul > li > div {
    position: absolute;
    width: 316px;
    height: 119px;
    background-color: #fff;
    top: 0px;
    right: 0px;
    z-index: -1;
    border-radius: 20px;
    box-shadow: 0px 4.37332px 21.8666px rgba(0, 0, 0, 0.07);
    padding: 24px;
    transition: 0.41s;
    opacity: 0;
}
body .wrapper > section > section .cart_items_form > ul > li > div p {
    font: 14px/20px roboto_regular, sans-serif;
    color: #b8b8b8;
}
body .wrapper > section > section .cart_items_form > ul > li > div button {
    width: 80px;
    height: 34px;
    font: 14px/17px roboto_regular, sans-serif;
    border: 1px solid #e6f0f9;
    border-radius: 10px;
    background-color: #fff;
    color: #a1a1a1;
}
body .wrapper > section > section .cart_items_form > ul > li > div .remove {
    /* changed to .remove */
    border-color: #e98d8d;
    color: #e98d8d;
}
body .wrapper > section > section .cart_items_form > ul > li.no_data {
    height: 213px;
    text-align: center;
    padding: 32px 0px;
}
body .wrapper > section > section .cart_items_form > ul > li.no_data a {
    width: 176px;
    height: 55px;
    border: 1px solid #9c89ff;
    display: inline-block;
    vertical-align: top;
    font: 16px/16px proxima_nova_regular, sans-serif;
    border-radius: 10px;
    padding: 18px 0px;
    color: #9c89ff;
    margin-top: 16px;
    text-decoration: none;
    transition: 0.21s;
}
body .wrapper > section > section .cart_items_form > ul > li.no_data a:hover {
    background-color: #9c89ff;
    color: #fff;
}
body .wrapper > section > section .checkout_form {
    display: inline-block;
    margin-left: 85px;
    vertical-align: top;
    width: 457px;
}
body .wrapper > section > section .checkout_form h3 {
    color: #7d7d7d;
    font: 18px/20px roboto_medium, sans-serif;
    margin-bottom: 30px;
}
body .wrapper > section > section .checkout_form ul {
    margin-bottom: 30px;
}
body .wrapper > section > section .checkout_form ul li {
    position: relative;
}
body .wrapper > section > section .checkout_form ul li:nth-child(1),
body .wrapper > section > section .checkout_form ul li:nth-child(2) {
    display: inline-block;
    vertical-align: top;
    width: 220px;
}
body .wrapper > section > section .checkout_form ul li:nth-child(1) {
    margin-right: 12px;
}
body .wrapper > section > section .checkout_form ul li:nth-child(5),
body .wrapper > section > section .checkout_form ul li:nth-child(6),
body .wrapper > section > section .checkout_form ul li:nth-child(7) {
    display: inline-block;
    margin-right: 6px;
    vertical-align: top;
    width: 145px;
}
body .wrapper > section > section .checkout_form ul li:nth-child(7) {
    margin-right: 0px;
}
body .wrapper > section > section .checkout_form ul li label {
    background-color: #f3f8fd;
    color: #a1a1a1;
    font: 16px/26px proxima_nova_regular, sans-serif;
    left: 15px;
    padding: 0px 7px;
    pointer-events: none;
    position: absolute;
    top: 12px;
    transition: 0.21s;
}
body .wrapper > section > section .checkout_form ul li input {
    background-color: #f3f8fd;
    border-radius: 6px;
    border: 1px solid #dfe4b8;
    height: 48px;
    margin-bottom: 25px;
    outline: none;
    padding-left: 13px;
    transition: 0.1s;
    width: 100%;
}
body .wrapper > section > section .checkout_form ul li input:focus,
body .wrapper > section > section .checkout_form ul li input:valid {
    border-color: #929864;
    padding: 0px 0px 0px 19px;
}
body .wrapper > section > section .checkout_form ul li input:focus + label,
body .wrapper > section > section .checkout_form ul li input:valid + label {
    color: #78716c;
    left: 12px;
    top: -12px;
}
body .wrapper > section > section .checkout_form h4 {
    color: #b8b8b8;
    font: 16px/20px roboto_regular, sans-serif;
    position: relative;
}
body .wrapper > section > section .checkout_form h4 span {
    color: #7d7d7d;
    position: absolute;
    right: 0px;
}
body .wrapper > section > section .checkout_form h4.total_amount {
    border-top: 1px solid #e2e2e2;
    margin-bottom: 30px;
    margin-top: 36px;
    padding-top: 20px;
}
body .wrapper > section > section .checkout_form button {
    background-color: #929864;
    border-radius: 10px;
    border: none;
    color: #fff;
    font: 16px/19px proxima_nova_bold, sans-serif;
    height: 55px;
    transition: 0.21s;
    width: 100%;
}
body .wrapper > section > section .checkout_form button:hover {
    opacity: 0.8;
}
body #card_details_modal .modal-dialog .modal-content button {
    transition: 0.21s;
}
body #card_details_modal .modal-dialog .modal-content button img {
    width: 40px;
    height: 40px;
    display: none;
}
body #card_details_modal .modal-dialog .modal-content button.loading img {
    display: inline-block;
}
body #card_details_modal .modal-dialog .modal-content button.loading span {
    display: none;
}
body #card_details_modal .modal-dialog .modal-content button.success {
    background-color: #55cc85;
}
.disable_button {
    pointer-events: none !important;
    opacity: 0.5;
}
